* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

html, body, main {
    background-color: #339966;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #cc6600;
  text-align: center;
  margin-bottom: 30px;
}

header a, header h1 {
  display: inline-block;
}



header img {
  /*border: 1px solid red;*/
  margin: 10px 50px;
}

header img:hover {
  margin: 14px 50px;
}


header h1 {
  /*border: 1px solid red;*/
  height: 100%;
  font-size: 56px;
  color: white;
  margin-top: 10px;
  padding: auto;
}

header h1:hover {
  font-size: 58px;
} 

h2 a {
  text-decoration: none;
}

.container-fluid {
  width: 90%;
}

main {
  position: relative;
  top: 100px;
  color: white;
}

main img {
  width: 100%;
  margin: 30px auto 10px auto;
}

main img:hover ~ .link {
    background-color: #cc6600;
}

main .link {
  color: white;
}

main .link:hover {
  background-color: #cc6600;
}

main a:hover {
  text-decoration: none;
}


.tag h2 {
  margin-top: 30px;
}


.right {
  float: right;
}

.destination .link {
  width: 200px;
  background-color: #cc6600;
  text-align: center;
}

.destination .link:hover {
  border: 1px solid white;
}

.link:hover {
  position: realative;
  z-index: 4;
  opacity: 1;
}

.destination .save {
  border: 1px solid white;
  font-size: 30px;
}

.destination .save:hover {
  border: 1px solid #cc6600;
}